.dashboardContainer{
    /* padding: 50px 0px; */
    max-width: 1200px;
    /* background-color: red; */
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

@media (max-width: 1200px) {
    .dashboardContainer{
        justify-content: space-between;
        /* gap: 20px; */
        padding: 20px;
    }
}

@media (max-width: 900px) {

    h1, h2{
        text-align: center;
    }
    .dashboardContainer{
        flex-direction: column;
        justify-content: center;
    }
}


