.sinTurnos{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: grey;
    width: 100%;
}

.proximosTurnosContainer{
    width: 35%;
    padding: 20px 0px;
    /* padding: 20px; */
    /* background-color: blue; */
}

.proximosTurnos{
    background-color: white;
    border-radius: 12px;
    padding: 10px 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
}


.proximosTurnosTitulo {
    color: #007b8f;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #007b8f;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.proximosTurnosTitulo::after {
    content: "";
    width: 120px;
    height: 4px;
    background: #1a8d92;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.btnNuevoTurno{
    background-color: white;
    border: 2px solid grey;
    border-radius: 12px;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: black;
    font-weight: normal;
}

.btnNuevoTurno:hover{
    color: black;
    background-color: rgb(240, 240, 240);
}

.btnNuevoTurno:active{
    transform: scale(0.97);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}


@media (max-width: 900px) {
    .proximosTurnosContainer{
    width: 90%;
    margin: auto;
}
}

@media (max-width: 768px) {
    .proximosTurnosContainer{
    padding: 0;
}
    .proximosTurnosContainer h2.proximosTurnosTitulo{
       margin: 16px;
       font-size: 1.45em; 
       width: auto;
    }
}
