.sinTurnos{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: grey;
    width: 100%;
}

.proximosTurnosContainer{
    width: 35%;
    padding: 20px 0px;
    /* padding: 20px; */
    /* background-color: blue; */
}

.proximosTurnos{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
}

.proximosTurnosContainer .proximosTurnosTitulo{
    margin-bottom: 30px;
}

.btnNuevoTurno{
    background-color: white;
    border: 2px solid grey;
    border-radius: 12px;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: black;
    font-weight: normal;
}

.btnNuevoTurno:hover{
    color: black;
}


@media (max-width: 900px) {
    .proximosTurnosContainer{
    width: 90%;
    margin: auto;
}
}
