.perfilContainer {
    width: 100%;
    height: 100%;
    padding: 140px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #E3E3E3; */
}

.perfilBox {
    background-color: #f5f5f5;
    border-radius: 12px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
}

.seccionInformacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.imagenPerfil {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenPerfil img {
    margin: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.seccionGrupoFamiliar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.cardsGrupoFamiliar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.cardsInformacion {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.articuloPerfil {
    font-size: 20px;
    margin: auto;
    width: 90%;
    text-align: left;
}

.articuloPerfil p {
    margin: 0px;
}

.campoPerfil {
    border-bottom: 2px solid grey;
}

.sinGrupoFamiliar {
    display: none;
}

.filas {
    flex-direction: row;
    align-items: center;
}

.filas .imagenPerfil {
    width: 50%;
}

.filas .cardsInformacion {
    width: 50%;
}

.btnUsuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    padding: 0 38px;
}

.headerModalEditarUsuario{
    background-color: #007b8f;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btnEditar, .btnGuardarCambios {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F5AD28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnCerrarSesion, .btnCerrarCambios {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #E64F4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnCerrarSesion:hover, .btnCerrarCambios:hover, .btnCerrarSesionMobile:hover{
    background-color: #ff1c1c;
    
}

.btnEditarMobile:hover, .btnEditar:hover, .btnGuardarCambios:hover{
    background-color: #d38900;
    
}

.btnCerrarSesionMobile, .btnEditarMobile{
    display: none;
}

.errorEditar{
    color: red;
    font-size: 14px;
    height: 18px;
    margin-top: 5px;
}


.imagenPerfil h1, .seccionGrupoFamiliar h2 {
    color: #007b8f;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #007b8f;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}

.imagenPerfil h1::after, .seccionGrupoFamiliar h2::after {
    content: "";
    width: 120px;
    height: 4px;
    background: #1a8d92;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}





@media (max-width: 900px) {
    .perfilBox {
        flex-direction: column;
        align-items: center;
    }

    .seccionInformacion .imagenPerfil,
    .seccionInformacion .cardsInformacion {
        width: 100%;
    }
    
    .seccionInformacion .imagenPerfil img {
        width: 200px;
        height: 200px;
        margin: 0;
        padding: 0;
    }
    
    .seccionInformacion {
        margin-bottom: 40px;
    }
    
    .btnCerrarSesion, .btnEditar{
        display: none;
    }
    
    .btnCerrarSesionMobile {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #E64F4F;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 90%;
    }
    
    .btnEditarMobile {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #F5AD28;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 90%;
    }
    
    .cardsInformacion{
        gap: 20px;
    }
    
}

@media (max-width: 768px) {
    .imagenPerfil h1, .seccionGrupoFamiliar h2{
        font-size: 1.45em;
    }
}

@media (max-width: 550px) {
    .perfilBox {
        padding: 20px;
    }

    .cardsGrupoFamiliar .cardBox {
        /* width: 200px; */
        width: 100px;
    }
    .cardsInformacion .articuloPerfil{
        font-size: 16px;
    
    }

    .btnUsuario, .footerModalEditarUsuario{
        flex-direction: column;
        /* gap: 10px; */
    }
    .btnCerrarCambios, .btnGuardarCambios{
        width: 100%;
    }
}