.perfilContainer{
    width: 100%;
    height: 100%;
    padding: 140px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #E3E3E3; */
}

.perfilBox{
    background-color: #f5f5f5;
    border-radius: 12px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
}

.seccionInformacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.imagenPerfil{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenPerfil img{
    margin: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit:cover;
}

.seccionGrupoFamiliar{
     display: flex;
     flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.cardsGrupoFamiliar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.cardsInformacion{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.articuloPerfil{
    font-size: 20px;
    margin: auto;
    width: 90%;
    text-align: left;
}
.articuloPerfil p{
    margin: 0px;
}

.campoPerfil{
    border-bottom: 2px solid grey;
}

.sinGrupoFamiliar{
    display: none;
}

.filas{
    flex-direction: row;
    align-items: center;
}
.filas .imagenPerfil{
    width: 50%;
}
.filas .cardsInformacion{
    width: 50%;
}

.btnCerrarSesion{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #E64F4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



@media (max-width: 900px) {
    .perfilBox{
        flex-direction: column;
        align-items: center;
    }
    .filas .imagenPerfil, .filas .cardsInformacion{
        width: 100%;
    }

}


@media (max-width: 550px) {
    .cardsGrupoFamiliar {
        /* width: 200px; */
    }
}