.selectYBotonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.filtroContainer {
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 500px;
    /* z-index: 5000; */
}

.botonLimpiar {
    background-color: #E64F4F;
    border: 'none' !important;
    border-color: transparent !important;
    margin-left: 10px;
    height: 40px;
}

.botonLimpiar:hover {
    background-color: #E64F4F;
}

.botonLimpiar:active {
    transform: scale(0.96);
    background-color: #c13c3c !important;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.select {
    margin: 0;
    width: 100%;
}

/* @media (max-width: 960px) {
    .selectYBotonContainer {
        min-width: 215px;
        width: auto;
        max-width: 300px;
    }
} */

@media (max-width: 630px) {
    .filtroContainer {
        max-width: 100%;
    }

    .borrarFiltro {
        margin: 0;
    }

    .botonLimpiar {
        display: none;
    }

    .selectYBotonContainer {
        flex-direction: column;
        align-items: stretch;
    }
}