.cardResumen {
    width: 100%;
    /* min-width: 200px; */
    /* max-width: 400px; */
    color: white;
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);

}

.cardResumen .tituloCardResumen {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 80px;
}

.cardResumen .tituloCardResumen span {
    padding: 0;
    margin: 0;
    line-height: 26px;
    display: inline;
    word-break: break-word;
}

.cardResumen .tituloCardResumen .icono {
    min-width: 40px;
}

.cardResumen .cantidadCardResumen {
    font-size: 60px;
    text-align: center;
}


@media (max-width: 1200px) {
    .cardResumen {
        max-width: 48%;
        /* min-width: 300px; */
        color: white;
        border-radius: 12px;
        padding: 20px 30px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    }
}
@media (max-width: 768px) {
    .cardResumen {
        margin: auto;
        max-width: 90%;
        /* min-width: 200px; */
        /* max-width: 300px; */
        color: white;
        border-radius: 12px;
        padding: 20px 30px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    }
    
}