.consultaTurnosContainer {
    padding-top: 100px;
    width: 100%;
    background-color: #E3E3E3;
    background-size: cover;
    background-position: center;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.botonSolicitarTurno {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    padding: 10px;
    border-radius: 8px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
}

.botonSolicitarTurno:hover {
    background-color: #f0f0f0; 
    color: #000000; 
}
.botonSolicitarTurno:focus {
    outline: none; 
    background-color: #e0e0e0; 
}


.botonSolicitarTurno:active,
.botonLimpiarFiltros:active {
    transform: scale(0.97);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.botonSolicitarTurno:active {
    background-color: #e0e0e0;
}


.botonAntiguosContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.botonAntiguosContainer input[type='checkbox'] {
    display: none;
}

.botonAntiguos {
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 8px;
    padding: 0.5rem;
}

.box {
    display: flex;
}

.filtroContainer {
    background-color: #f5f5f5;
    box-shadow: 0 2px, 8px rgba(0,0,0,0.226);
    border-radius: 8px;
    margin: 1rem 1rem 5rem 3rem;
    padding: 1rem;
    width: 400px;
}

.filtroContainer h2,
.filtroContainer h3 {
    text-align: center;
}

.botonLimpiarFiltrosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.botonLimpiarFiltros {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    color: #ffffff;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    padding: 0.5rem;
}

.botonLimpiarFiltros:active {
    background-color: #808080;
}


.turnosContainer {
    background-color: #f5f5f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 3rem 5rem 1rem;
    padding: 1rem;
    width: 100%;
}


.botonCardContainer {
    text-align: center; 
    margin-top: auto; 
    margin-bottom: 0; 
}

.botonAbrirModal {
    background-color: #E64F4F;
    color: white;
    border: none;
    padding: 0.3rem 0.7rem; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
}
.botonAbrirModal:hover {
    background-color: rgb(185, 86, 86); 
}

.botonAbrirModal:active {
    transform: scale(0.98);
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center; 
    align-items: center;     
    z-index: 1000; 
}

.modalBox {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    width: 90%;
    max-width: 450px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    position: relative;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.modalHeader h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}

.botonCerrar {
    background: none;
    border: none;
    font-size: 1.8rem; 
    cursor: pointer;
    color: #666;
    padding: 0;
    line-height: 1;
}

.botonCerrar:hover {
    color: #f44336;
}

.modalBody {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 25px;
}

.modalBody strong {
    font-weight: 700;
    color: #333;
}


.modalFooter {
    display: flex;
    justify-content: flex-end; 
    gap: 12px; 
    margin-top: 15px;
}

.botonVolver {
    background-color: #24979B; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.2s;
}

.botonVolver:hover {
    background-color: #24979bae;
}

.botonCancelarTurno {
    background-color: #e64f4f; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.2s;
}

.botonCancelarTurno:hover {
    background-color: #d32f2f;
}

.botonVolver:active,
.botonCancelarTurno:active {
    transform: scale(0.98);
}

