.loginContainer {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEBEB;
  background-image: url("../../assets/images/imagenFondoLogin.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.loginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.15);
}

.loginBox {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  max-width: 550px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.loginBox h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.btnIngresar {
  background-color: #24979b !important;
  color: #fff !important;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background 0.3s;
  width: 100%;
  padding: 12px;
}

.btnIngresar:hover {
  background-color: #1d7c80 !important;
}

.registerSection {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #333;
  text-align: center;
}

.registerSection a {
  margin-left: 5px;
  color: #24979B;
  font-weight: bold;
  text-decoration: none;
}

.registerSection a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .loginBox {
    padding: 1.8rem;
  }
}

@media (max-width: 480px) {
  .loginBox {
    padding: 1.3rem;
    max-width: 100%;
    border-radius: 10px;
  }

  .loginBox h2 {
    font-size: 1.4rem;
  }
}
