.header {
    background-color: red;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
}

.navegacionPrincipal {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    width: 100%;
    flex-wrap: wrap;
}

.navegacionPrincipal .navLinks {
    list-style: none;
    display: flex;
    gap: 12px;
    padding-left: 18px;
    margin: 0;
    font-size: 0.9rem;
}

.navegacionPrincipal .navLinks li .link {
    text-decoration: none;
    color: black;
}

.navegacionPrincipal .navMenus {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.navegacionPrincipal .logo {
    height: 50px;
}

.burgerMenuBtn {
    display: none;
}

/* @media (max-width: 1060px) {
    .navegacion-principal .nav-links {
        gap: 10px; 
        padding-left: 10px;
    }

    .navegacion-principal .nav-links li .link {
        font-size: 0.8rem; 
    }
} */

.burgerMenu{
    /* display: none; */
    width: 100%;
    overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  background-color: #fff;

    /* background-color: red; */
}

.burgerMenuBtn{
    background-color: #457B9D;
    border: none;
    border-radius: 8px;
    color: white;
    transition: all 0.3s ease;
    margin-right: 14px;
}

.burgerMenuBtn:active{
    background-color: #335f7a;
}   

.btnIcon{
    padding: 10px 12px;
    font-size: 20px;
}



.burgerMenu .navLinks{
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px;
    padding: 20px 0px; */
    padding: 18px 18px 0px 18px;
    gap: 0px;
}

.burgerMenu .navLinks li{
    width: 100%; 
    padding: 8px 0;
    border-top: 1px solid grey;
}

.burgerMenu .navLinks li .link{
    width: 100%;
    display: block;
}

.burgerMenu .navLinks li:hover{
    background-color: rgba(128, 128, 128, 0.349);
}

.burgerMenu.show{
    display: block;
    max-height: 500px;
}


@media (max-width: 768px) {
    
    .link{
        font-size: 20px;
    }
    .header .navMenus{
        display: none;
    }
    
    
    .burgerMenuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
    }
    
    .navegacionPrincipal{
        /* background-color: red; */
        flex-wrap: wrap;
        /* padding: 4px; */
        /* width: 90%; */
    }


}