.header {
    background-color: red;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
}

.navegacionPrincipal {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    width: 100%;
    flex-wrap: wrap;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 12px;
    padding-left: 18px;
    margin: 0;
    font-size: 0.9rem;
}

.link {
    text-decoration: none;
    color: black;
}

.navMenus {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo {
    height: 50px;
}

.burgerMenuBtn {
    display: none;
}

/* @media (max-width: 1060px) {
    .navLinks {
        gap: 10px; 
        padding-left: 10px;
    }

    .link {
        font-size: 0.8rem; 
    }
} */

.burgerMenu {
    /* display: none; */
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    background-color: #fff;
    /* background-color: red; */
}

.burgerMenuBtn {
    background-color: #457B9D;
    border: none;
    border-radius: 8px;
    color: white;
    transition: all 0.3s ease;
    margin-right: 14px;
}

.burgerMenuBtn:active {
    background-color: #335f7a;
}   

.btnIcon {
    padding: 10px 12px;
    font-size: 20px;
}

.burgerMenuList {
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px;
    padding: 20px 0px; */
    padding: 18px 18px 0px 18px;
    gap: 0px;
}

.burgerMenuItem {
    width: 100%; 
    padding: 8px 0;
    border-top: 1px solid grey;
}

.burgerMenuLink {
    width: 100%;
    display: block;
}

.burgerMenuItem:hover {
    background-color: rgba(128, 128, 128, 0.349);
}

.show {
    display: block;
    max-height: 500px;
}

@media (max-width: 768px) {
    .navMenus {
        display: none;
    }

    .burgerMenuBtn {
        display: block;
    }

    .navegacionPrincipal {
        flex-wrap: wrap;
    }
}