.footer{
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.226);

}

.containerTop{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #ffffff;
    padding-bottom: 15px;
}

.containerBottom{
    background-color: #457B9D;
    color: white;
    text-align: center;
    padding: 10px;
}

.divLinks{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 20px;
    user-select: none;
}

.divLinks ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    align-items: flex-start;
    height: 100%;
}


.divContacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 20px;
}

.divContacto ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: flex-start;
}



.divLogo{
    align-self: center;
    user-select: none;
}

.itemFooter{
    margin: 3px 0px;
    list-style: none;
}


@media (max-width: 768px) {
    .containerTop{
        flex-direction: column;
        align-items: center;
        
    }

    .divLinks{
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid gray;
        padding: 5px 0px;
    }
    .itemFooter{
        margin: 0px;
    
    }

    .divLinks ul{
        align-items: center;
    }
    .itemFooter .contacto{
        margin:0px
    }
    .divContacto{
        align-items: center;
    }

    .divContacto ul{
        align-items: center;
    }

    .divLogo{
        display: none;
    }
}