.proximoTurno {
    /* background-color: red; */
    border-bottom: 2px solid grey;
    display: flex;
    margin-bottom: 8px;
}

.iconoTurno {
    width: 48px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datosTurno {
    padding: 10px;
}

.datosTurno h3,
.datosTurno p {
    margin: 0px;
}

.datosTurno h3 {
    font-size: 22px;
}

.datosTurno p {
    font-size: 20px;
}