.resumen {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
}

.cardsResumen {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tituloDashboard {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .cardsResumen {
        flex-wrap: wrap;
    }
}