.resumen {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
}

.resumen .cardsResumen {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.tituloDashboard {
    color: #007b8f;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #007b8f;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}

.tituloDashboard::after {
    content: "";
    width: 120px;
    height: 4px;
    background: #1a8d92;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

@media (max-width: 1200px) {


    .resumen .cardsResumen {
        flex-direction: row;
        flex-wrap: wrap;
    }


}

@media (max-width: 768px) {


    .resumen .cardsResumen {
        flex-direction: column;
    }

    .resumen {
        margin-bottom: 0px;
    }

    .tituloDashboard {
        font-size: 1.6rem;
    }

}