.resumen{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
}

.resumen .cardsResumen{
    display: flex;
    gap: 20px;
    justify-content: center;

}

.resumen .tituloDashboard{
    margin-bottom: 20px;
}

@media (max-width: 1200px) {

    
    .resumen .cardsResumen{
        flex-direction: row;
        flex-wrap: wrap;
    }

    
}

@media (max-width: 768px) {

    
    .resumen .cardsResumen{
        flex-direction: column;
    }

    
}