.search-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.search-barra {
  position: relative;
  display: flex;
  align-items: center;
}

.search-barra input {
  padding: 8px 32px 8px 8px;
  width: 300px;
  border-radius: 12px;
}

.icono {
  position: absolute;
  right: 10px;
  color: #888;
  pointer-events: none;
}
