.registro-container {
  position: relative;
  width: 100%;
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  background-image: url("@assets/images/imagenFondoLogin.png");
  background-size: cover;
  background-position: center;
}

.registro-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.registro-box h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.btn-registrar {
  background-color: #24979b !important;
  color: #fff !important;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn-registrar:hover {
  background-color: #1d7c80 !important;
}

.login-section {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #333;
}

.login-section a {
  margin-left: 5px;
  color: #24979b;
  font-weight: bold;
  text-decoration: none;
}

.login-section a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .registro-box {
    padding: 1.5rem;
  }

  .registro-box h2 {
    font-size: 1.5rem;
  }
}