.containerResultadosPrestadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px 20px 80px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.tituloResultadosPrestadores {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #007b8f;
  text-align: center;
  padding-bottom: 10px;
  width: fit-content;
  text-align: center;
}

.tituloResultadosPrestadores::after {
  content: "";
  width: 120px;
  height: 4px;
  background: #1a8d92;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.containerTituloPrestadores {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tituloPrestadores {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #007b8f;
  text-align: center;
  padding-bottom: 10px;
  width: fit-content;
  text-align: center;
}

.tituloPrestadores::after {
  content: "";
  width: 120px;
  height: 4px;
  background: #1a8d92;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.containerTituloSub {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 60px auto 15px;
}

.containerCartillaPrestadores {
  width: 100%;
  background-color: #E3E3E3;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
  --s: 300px;
  /* control the size*/
  --c1: #ffffff;
  --c2: #ebebeb;

  --_g: #0000 8%, var(--c1) 0 17%, #0000 0 58%;
  background:
    linear-gradient(135deg, #0000 20.5%, var(--c1) 0 29.5%, #0000 0) 0 calc(var(--s)/4),
    linear-gradient(45deg, var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg, var(--_g), var(--c1) 0 67%, #0000 0),
    linear-gradient(45deg, var(--_g), var(--c1) 0 67%, #0000 0 83%, var(--c1) 0 92%, #0000 0),
    var(--c2);
  background-size: var(--s) var(--s);
}

.sinResultados {
  background: #ffffff;
  padding: 14px 30px;
  border-left: 6px solid #1a8d92;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #007b8f;
  text-align: center;
  margin: 40px auto;
  width: fit-content;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.conteinerFormPrestadores {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.conteinerFormPrestadores>* {
  width: 100%;
  max-width: 750px;
}
.parrafo{
  margin: auto;
}

.noResultados{
  margin:auto;
}

@media (max-width: 768px) {
  .tituloResultadosPrestadores {
    font-size: 1.5rem;
  }

  .tituloResultadosPrestadores::after {
    width: 80px;
  }

  .containerResultadosPrestadores {
    gap: 15px;
    padding: 20px 10px 60px;
  }

  .sinResultados {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .conteinerFormPrestadores>* {
    max-width: 600px;
  }

}

@media (max-width: 480px) {
  .tituloResultadosPrestadores {
    font-size: 1.3rem;
  }

  .tituloResultadosPrestadores::after {
    width: 60px;
  }
}