.containerResultadosPrestadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 8px;
  gap: 1rem;
  margin: 5rem;
  padding: 1rem;
}

.tituloResultadosPrestadores{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.tituloPrestadores {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.containerCartillaPrestadores {
  width: 100%;
  background-color: #E3E3E3;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
}
.parrafo{
  margin: auto;
}

@media (max-width: 768px) {
  .containerResultadosPrestadores {
    margin: 1rem;
    padding: 0.5rem;
    justify-content: center;
  }
}