:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.main{
  background-color: #EBEBEB;
  --s: 300px;
  /* control the size*/
  --c1: #ffffff;
  --c2: #ebebeb;

  --_g: #0000 8%, var(--c1) 0 17%, #0000 0 58%;
  background:
    linear-gradient(135deg, #0000 20.5%, var(--c1) 0 29.5%, #0000 0) 0 calc(var(--s)/4),
    linear-gradient(45deg, var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg, var(--_g), var(--c1) 0 67%, #0000 0),
    linear-gradient(45deg, var(--_g), var(--c1) 0 67%, #0000 0 83%, var(--c1) 0 92%, #0000 0),
    var(--c2);
  background-size: var(--s) var(--s);
  
}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aceptada{
  background-color: #24979B;
}

.rechazada{
  background-color: #E64F4F;
}

.observacion{
  background-color: #457B9D;
}

.pendiente{
  background-color: #F5AD28;
}


