.cardBox {
  overflow: hidden;
  border: none;
  border-radius: 12px;
  width: 100%;
  max-width: 400px; 
  margin: 0.2rem auto; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
  padding: 0px;
}

.cardHeader {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.8rem 0px;
}

.cardTexto {
  font-size: 1.1rem;
}

.cardTexto strong {
  user-select: none;
}

.botonBox {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.botonPDF {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #457B9D;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  width: 150px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
}

.botonPDF:active {
  transform: scale(0.96);
  background-color: #1d425a;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.tieneContenidoExtra {
  margin-top: 16px;
  text-align: center;
  user-select: none;
}

@media (max-width: 480px) {
  .cardTexto {
    font-size: 0.8rem;
  }

  .cardHeader {
    font-size: 1rem;
  }
}