.cardBox {
  overflow: hidden;
  border: none;
  border-radius: 12px;
  width: 400px;
  max-width: 500px; 
  margin: 0.2rem auto; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
  padding: 0px;
}

.cardHeader {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.8rem 0px;
}

.cardTexto {
  font-size: 1.2rem;
}

.botonBox {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.botonPDF {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #457B9D;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  width: 150px;
  margin: 0px;
}