.fondo {
    min-height: 100vh;
    /* padding-top: 40px; */
    width: 100%;
    background-image: url("@assets/images/fondo-FormRecetas.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonCancelar {
    background-color: #E64F4F;
    border: none
}

.botonSiguiente{
    background-color: #24979B;
    /* background-color: black; */
    border: none
}

.botonCancelar:hover {
    background-color: rgb(185, 86, 86);
}

.botonSiguiente:hover {
    background-color: #24979bae;
}

.oblgatorio {
    color: #E64F4F;
}

.fondo{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* padding-bottom: 2rem; */
    margin: 18px 0px;
}


.card {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
}

.botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.titulo {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: #007b8f;
    text-align: center;
    padding-bottom: 10px;
}

.titulo::after {
    content: "";
    width: 120px;
    height: 4px;
    background: #1a8d92;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.subtitulo {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

label {
    font-weight: 500;
    margin-top: 1rem;
}

select,
input,
textarea {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}

/* 
button {
    margin: 3rem;
    font-weight: bold;
} */

.modal {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px) {
    .card {
        padding: 1.5rem;
    }

    .titulo {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 1rem;
        border-radius: 10px;
    }

    .titulo {
        font-size: 1.4rem;
    }

    select,
    input,
    textarea {
        font-size: 0.95rem;
    }
}

@media (max-width: 360px) {
    .card {
        padding: 1rem;
    }

    .titulo {
        font-size: 1.2rem;
    }

    option{
        width: 100%;
        max-width: 280px;
        min-width: 200px;
        font-size: 14px;
    }
}