.containerResultadoAutorizaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 8px;
    gap: 1rem;
    margin: 5rem;
    padding: 1rem;
}

.tituloAutorizaciones {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: #007b8f;
    text-align: center;
    padding-bottom: 10px;
    width: fit-content;
    text-align: center;
}

.tituloAutorizaciones::after {
    content: "";
    width: 120px;
    height: 4px;
    background: #1a8d92;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.containerConsultarAutorizaciones {
    width: 100%;
    background-color: #E3E3E3;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
    --s: 300px;
    --c1: #ffffff;
    --c2: #ebebeb;

    --_g: #0000 8%, var(--c1) 0 17%, #0000 0 58%;
    background:
        linear-gradient(135deg, #0000 20.5%, var(--c1) 0 29.5%, #0000 0) 0 calc(var(--s)/4),
        linear-gradient(45deg, var(--_g)) calc(var(--s)/2) 0,
        linear-gradient(135deg, var(--_g), var(--c1) 0 67%, #0000 0),
        linear-gradient(45deg, var(--_g), var(--c1) 0 67%, #0000 0 83%, var(--c1) 0 92%, #0000 0),
        var(--c2);
    background-size: var(--s) var(--s);
}

.box {
    display: flex;
}

.botonLimpiarFiltrosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.botonesContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.botonCargarReceta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    padding: 10px;
    border-radius: 8px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
}

.botonCargarReceta:hover {
    color: #000000;
}

.botonLimpiarFiltros {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2C2C;
    color: #ffffff;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    padding: 0.5rem;
}

.botonCargarReceta:active,
.botonLimpiarFiltros:active {
    transform: scale(0.97);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.botonCargarReceta:active {
    background-color: #e0e0e0;
}

.botonLimpiarFiltros:active {
    background-color: #808080;
}

.filtroContainer {
    background-color: #f5f5f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    margin: 1rem 1rem 5rem 3rem;
    padding: 1rem;
    width: 400px;
    height: fit-content;
}

.filtroContainer h2,
.filtroContainer h3 {
    text-align: center;
}

.recetasContainer {
    background-color: #f5f5f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 3rem 5rem 1rem;
    padding: 1rem;
    width: 100%;
}


@media (max-width: 768px) {
    .containerResultadoAutorizaciones {
        margin: 1rem;
        padding: 0.5rem;
        justify-content: center;
    }
}