.atajosSolicitudes{
    width: 60%;
    padding: 20px 0px;
}

.atajosAccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tituloAtajosAccion{
    margin-bottom: 30px;
    width: 100%;
}

.btnAccion{
    border-radius: 12px;
    font-size: 22px;
    padding: 8px 16px;
    margin: 0;
    border: none;
    align-items: center;
    display: flex;
    gap: 8px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    color: black;
    font-weight: normal;
}

.solicitudesEstado{
    margin-top: 40px;
}

.solicitudesEstado h2{
    margin-bottom: 30px;
}

.containerEstadoPeriodo{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);

}

.seleccionEstado{
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.btnSeleccionEstado{
    width: 33%;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #E6E6E6;
    color: #757575;
}



.periodoResultado{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.periodoResultado p{
    width: 100%;
    font-size: 20px;
}

.periodoBotones{
    width: 33%;
}

.btnPeriodo{
    border: none;
    background-color: #E6E6E6;
    color: #757575;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
    text-align: left;
}
.periodoEstados{
    width: 66%;
}

.btnSeleccionEstadoActivo{
    width: 33%;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #757575;
    background-color: #24979B;
    color: white;
}

.activo{
    border: none;
    color: #757575;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
    text-align: left;
    background-color: #24979B;
    color: white;
}

.btnPeriodo{
    border: none;
    background-color: #E6E6E6;
    color: #757575;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
    text-align: left;
}

@media (max-width: 1200px) {
    .btnAccion{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }


}


@media (max-width: 900px) {
    .atajosSolicitudes{
    width: 90%;
    margin: auto;

}
}

@media (max-width: 768px) {
.periodoResultado{
    border-top: 2px solid rgb(197, 197, 197);
    padding-top: 10px;
    flex-wrap: wrap;
}
.tituloPeriodo{
    text-align: center;
}
.periodoBotones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.seleccionEstado{
    flex-direction: column;
    
}
.periodoEstados{
    margin: auto;
    width: 80%;
}

.btnPeriodo, .activo{
    width: 100%;
}

.btnSeleccionEstado, .btnSeleccionEstadoActivo{
    width: 100%;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 10px;
}
}